<h1>Welcome to QR code generator</h1>
<p>Please enter any message for your QR code below:</p>
<%= form_tag qrcodes_path do %>
    <%= text_field_tag 'message', nil, :placeholder => 'Enter message here.' %>
    <%= submit_tag 'submit' %>
<% end %>